body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif';
}

h1, h2, h3, h4{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;    
}


p {
    font-family: 'Crimson Text', serif;    
    text-align: justify;
}

a {
    font-family: "Open Sans Condensed";
    text-decoration: none;
}

li {
    list-style-type: none;
}