main {
    width: 100%;
}
footer {
    color: #FFF;
    position: fixed;
    background-color: #000;
    width: 100%;
    bottom:0;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 4rem;
    border-top: 1rem solid #851944;
}
main div {
    text-align: center;
    border-bottom: 1rem solid #000;
    padding: 6rem;
}

main div img {
    border: 0.5rem solid black;
}

main div h3 {
    margin: 5rem auto;
    box-sizing: border-box;
    color: #FFF;
    border: 0.5rem solid black;
    background-color: #851944;
    padding: 0.5rem 2rem;
    text-align: center;
    width: 300px;
}
.container-1 {
    position: relative;
    background-color: #851944;
    color: #FFF;
}
.container-3 {
    background-color: #3D1C3D;
}
.container-4 {
    position: relative;
    background-color: #B2B7BF;
}
.container-1 li {
    position: absolute;
}
.container-2 strong {
    font-size: 3em;
}
.container-3 h2 {
    text-transform: uppercase;
    color: #FFF;
    text-align: left;
    font-size: 4em;
}
.container-4 h2 {
    text-transform: uppercase;
    color: #FFF;
    text-align: left;
    font-size: 4em;
}
.container-4 nav li {
    padding: 0.5rem;
    font-size: 1.5em;
    text-align: left;
}
.container-4 nav a {
    color: #C756D6;
}
.post-begin {
    border-radius: 0.5rem;
    padding: 3rem;
    text-align: center;
    right: 10rem;
    position: absolute;
    top: 10rem;
    font-size: 0.5em;
    background-color: #FFF;
}
.new-post {
    width: 60%;
    background-color: #FFF;
}
.palavra-home {
    position: absolute;
    font-size: 100%;
    font-family: 'Shadows Into Light', cursive;
}
.eficiencia {
    top: 25%;
    right: 65%;
}
.boas-praticas {
    top: 14%;
    right: 15%;
}
.codigo-limpo {
    top: 30%;
    right: 35%;
}
.css3 {
    top: 40%;
    right: 95%;
}
.html5 {
    top: 10%;
    right: 35%;
}
.javascript {
    top: 70%;
    right: 65%;
}
.acessibilidade {
    top: 60%;
    right: 35%;
}
.responsivo {
    top: 60%;
    right: 85%;
}
.otimizacoes {
    top: 80%;
    right: 15%;
}
.agilidade {
    top: 20%;
    right: 85%;
}
.design {
    top: 10%;
    right: 65%;
}