html, body {
    height: 100%;
    overflow-x: hidden;
}
body {
    perspective: 6px;
    perspective-origin: 50% 160px;
}
main {
    width: 100%;
}
footer {    
    color: #FFF;
    position: absolute;
    z-index: 1;
    transform-origin: 0.0;
    transform: scale(161) translateZ(-1023px) translateX(-42.5em) translateY(400%); 
    background-color: #000;
    width: 100%;
    bottom:0;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 4rem;
    border-top: 1rem solid #851944;
    
}
main div {
    text-align: center;
    border-bottom: 1rem solid #000;
    padding: 6rem;
}
main div img {
    border: 0.5rem solid black;
}
main div h3 {
    margin: 5rem auto;
    box-sizing: border-box;
    color: #FFF;
    border: 0.5rem solid black;
    background-color: #851944;
    padding: 0.5rem 2rem;
    text-align: center;
    width: 300px;
}
.joao-identificao {
    text-align: center;
    font-size: 2.9em;
    text-shadow: 5px 5px #000;
}
.container-1 {    
    position: relative;
    background-color: #851944;
    color: #FFF;
}
.container-3 {
    background-color: #3D1C3D;
}
.container-4 {
    position: relative;
    background-color: #B2B7BF;
}
.container-1 li {
    position: absolute;
}
.container-2 h2{
    transform: scale(1);
}
.container-2 h3 {
    box-shadow: 0 0  1rem #000, inset 0 0 .3rem #FFF;
}
.container-2 strong {
    font-size: 3em;
}
.container-3 h2 {
    text-transform: uppercase;
    color: #FFF;
    text-align: left;
    font-size: 4em;
}
.container-4 h2 {
    text-transform: uppercase;
    color: #FFF;
    text-align: left;
    font-size: 4em;
}
.container-4 nav li {
    padding: 0.5rem;
    font-size: 1.5em;
    text-align: left;
}
.container-4 nav a {
    color: #C756D6;
}
.frase {
    display: inline-block;
}
.ola { 
    color:  #C756D6;
    transform: scale(2) translate(-20px);
}
.missao {
    transform: rotate(-5deg);
}
.post-begin {
    border-radius: 0.5rem;
    padding: 3rem;
    text-align: center;
    right: 10rem;
    position: absolute;
    top: 10rem;
    font-size: 0.5em;
    background-color: #FFF;
}
.new-post {
    width: 60%;
    background-color: #FFF;
}
.palavra-home {
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(-4px) scale(1);
    transform-style: preserve-3d;
    top: 0;
    perspective: 6px;   
    position: absolute;
    font-size: 100%;
    font-family: 'Shadows Into Light', cursive;
}
.eficiencia {
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
    top: 25%;
    right: 65%;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: scale(5) translate(20px) rotate(-20deg);
}
.boas-praticas {
    top: 14%;
    right: 15%;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-5deg);
}
.codigo-limpo {
    top: 30%;
    right: 35%;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
    opacity: 0.4;
}
.css3 {
    top: 40%;
    right: 95%;
}
.html5 {
    top: 10%;
    right: 35%;
}
.javascript {
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(1);
    top: 70%;
    right: 35%;
}
.acessibilidade {
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(-4px) scale(3);
    top: 60%;
    right: 75%;
}
.responsivo {
    top: 60%;
    right: 85%;
}
.otimizacoes {
    top: 80%;
    right: 15%;
}
.agilidade {
    top: 20%;
    right: 85%;
}
.design {
    top: 10%;
    right: 65%;
}
.follow-twitter {     
    transform-origin: 0.0;
    z-index: 1;
    box-sizing: border-box;
    border: 0.5rem solid black;
    width: 20rem;
    text-align: center;
    transform: scale(2)  translate(-30px, -50px) rotate(45deg) translateZ(0.1px);
    padding: 1rem;
    left: 85%;
    color: blue;
    background-color: #5d98d4;
    position: fixed;
}
.img-joao {
    box-shadow: 0 0 10rem #FFF;
}