main {
    width: 80%;
    float: right;
}

figure {    
    box-sizing: border-box;
    display: inline-block;
    padding: 16px;
    height: 220px;
    width: 360px;
    margin: 16px;        
    background-color: #FAFFFC;    
    border: 8px solid #000;
}

figure-caption {
    text-align: center;
}

.container {
    
    margin: 0 auto;
}

.social-icons li {
    display: inline;
}

.social-icons a {    
    display: inline-block;
    font-size: 0;
    height: 40px;
    width: 40px;
}

.github {    
    background-image: url(../img/github.png);    
}

.twitter { 
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}