.container {
    margin: 50px auto;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 5px #000, -10px 10px red;
}

.container-2 {
    margin: 0 auto;
    width: 400px;
    height: 200px;    
    box-shadow: 0 0 0 5px #000, 0 0 0 10px #FFF, 0 0 0 15px #000, 0 0 0 20px #FFF, 0 0 0 25px #000;
}